
.content{
    background-color: #f5f5f5;
}
/* banner属性 */
.banner{
    height: 650px;
    background: url(../imgs/t01c17d41e9222175cf.png) no-repeat top center;
    background-size: 1920px 650px;
    overflow: hidden;
}
.pic-skip{
    width: 125px;
    margin: 605px auto 35px;
}
.pic-skip a{
    display: inline-block;
    width: 16px;
    border: 2px solid #b39934;
}
.pic-skip a:hover{
    border-color: #fff;
}
.pic-skip a + a{
    margin-left: 6px;
}

/* banner-next属性 */
.banner-next{
    width: 1240px;
    padding-top: 42px;
    margin: 0 auto;
}
.banner-next div{
    width: 300px;
    height: 160px;
    border-radius: 3px;
}

.banner-next .download-code{
    background-color: #755ff2;

}
.banner-next h2{
    font-size: 15px;
    margin-top: 16px
}
.banner-next p{
    margin-top: 16px;
    font-size: 11px;
}
/* .code-img{
    padding: 5px 5px 0 5px;
    background-color: #fff;
} */
.content{
    overflow: hidden;
}
.forum,.choiceness,.report{
    margin-left: 13px;
}
.code-img img{
    margin-top: 8px;
    width: 80px;
    height: 80px;
    padding: 5px 5px 0 5px;
    background-color: #fff;
}
.forum{
    background-color: #16c27d;
}
.forum img{
    margin-top: 20px;
}
.choiceness{
    background-color: #ff9a26;
}
.choiceness img{
    width: 135px;
    height: 80px;
    margin-top: 12px;
}
.report{
    background-color: #fd4e4e;
}
.report ul{
    margin-top: 18px;
}
.report li{
    list-style: none;
    margin-top:2px; 
    font-size: 11px;
}
.report li a{
    color: #fff;
}

/* free-online样式 */
.free-online{
    width: 1240px;
    margin: 0 auto;
    margin-top: 30px;    
}
.free-img{
    width: 240px;
    height: 380px;
    box-sizing: border-box;
    padding-top: 35px;
    background-color: #5795f8;
}
.free-img h2,.create-img h2{
    font-weight: 400;
    margin-top: 35px;
    font-size: 19px
}
.free-img p,.create-img p{
    margin-top: 20px;
    font-size: 11px
}
.free-img img{
    width: 80px;
    height: 140px;
    margin-top: 50px;
}
.wifi-ad,.create-ad{
    background-color: #fff;
    overflow: hidden;
}
.wifi-ad-img,.create-ad-img{
    margin: 50px 100px;
}
.wifi-ad-font div,.create-ad-font div{
    width: 240px;
    margin-left: 80px;
    text-align: center;
}
.wifi-ad-font h1,.create-ad-font h1{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}
.wifi-ad-font h1{
    color: #4eaaf7;
}
.wifi-ad-font h2,.create-ad-font h2{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 17px;
}
.wifi-ad-font p,.create-ad-font p{
    font-size: 11px;
    margin-bottom: 6px;
}
.free-bottm-part{
    background-color: #e6f2fb;
    padding: 25px 0;
}
.download-btn{
    margin-right: 30px;
}
.free-bottm-part a{
    text-decoration: none;
    display: block;
    float: left;
    width: 110px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #4eaaf7;
    border-radius: 3px;
    margin-left: 15px;
}
.andriod-btn,.iphong-btn{
    background-color: #4eaaf7;
}
.download-btn .more-btn{
    color: #4eaaf7;
    background-color: #fff;
    
}


.create-WiFi{
    width: 1240px;
    margin: 0 auto;
    padding-top: 30px;

}
.create-img{
    height: 380px;
    width: 240px;
    background: url(../imgs/t01aa93a9ac521acf28.png) no-repeat;

}
.create-ad-font h1{
    color: #2acb91;
}
.create-bottm-part{
    background-color: #e1f2ec;
    padding: 25px 0;
}
.create-bottm-part a{
    text-decoration: none;
    display: block;
    float: left;
    width: 110px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #2acb91;
    border-radius: 3px;
    margin-left: 15px;
}
.gobuy-btn,.update-btn{
    background-color: #2acb91;
}
.download-btn .more-btn-green{
    color: #2acb91;
    background-color: #fff;
}
/* video部分 */
.wifi-video{
    width: 1240px;
    margin: 95px auto 110px;
}
.wifi-video h2{
    font-size: 24px;
    color: #666;
    font-weight: 400;
    text-align: center;
    margin-bottom: 45px;
}
.video-box{
    display: block;
    float: left;
    width: 223px;
    height: 183px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
}

.video-box h3{
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    color: #555;
    line-height: 40px;
}
.video-box div{
    width: 223px;
    height: 143px;
    background-size: 223px 143px;
}
.video-letter{
    background: url(../imgs/t0145f1c7c77d0183f0.png) no-repeat;
}
.video-online{
    background: url(../imgs/t01fbb74c571da6aac0.png) no-repeat;
}
.video-wifi{
    background: url(../imgs/t013df8e5efa431e276.png) no-repeat;
}
.video-simple{
    background: url(../imgs/t018df3941faca9ce11.png) no-repeat;
}
.video-sushe{
    margin-right: 0;
    background: url(../imgs/t0165f952cd08f63da2.png) no-repeat;
}
.video-box div:after{
    content: '';
    position: absolute;
    left: 19px;
    bottom: 50px;
    width: 40px;
    height: 30px;
    background: url(../imgs/t017b968108b6ffa630.png) no-repeat;
    background-size: 40px 30px;
    border-radius: 10%;
} 



