/* 公共样式 */
body,
h2,p,
ul{
    margin: 0;
    padding: 0;
}

a{
    color: #333;
    text-decoration: none;
}

.gray-fonts13{
    color: #b7b7b7;
    font-size: 13px; 
}
.btn{
    color: #ffffff;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
.btn:hover{
    color: #777777;
}
.text-align-center{
    text-align: center;
}
.bg-green{
    background-color: #ADD136;
}
.bg-gray{
    background-color: #5F5F5F;
}
.fleft{
    float: left;
}
.bd-green{
    border-color: #ADD136;
}
.bd-gray{
    border-color:  #5F5F5F;
}
.clear-box:after{
    content:'';
    display: block;/*转换 为块元素*/
    height: 0;
    width: 0;
    visibility: hidden;/*隐藏元素*/
    clear: both ;
    }


.app{
    margin: 0 auto;
}

.container{
    width: 1300px;
    margin: 0 auto;
}

/* 顶部导航 */
.nav{
    height: 85px;
    width: 1300px;
}
.nav .logo {
    float: left;          
    margin-left: 130px;
}
.nav .logo img{
    display: block;
}

.nav ul{
    display: inline-block;
    margin-left:112px; 
}
.nav li{
    color: #b7b7b7;
    font-size: 13px; 
    display: inline-block;
    height: 85px;
    line-height: 85px;
    margin-right: 29px;
}
.nav a:hover{
    color: #111;
    text-decoration: underline;
}

.nav .login{
    display: inline-block;
    width: 100px;
    line-height: 37px;
    background-color: #bcda5c;
    color: #f3f8e6;
    text-align: center;
    font-size: 13px;
    border-radius: 37px;
    cursor: pointer;
}
.nav .login:hover{
    color: #777777;
}
.clear{
    clear: both;
}

/* banner部分 */
.banner{
    position: relative;
    overflow: hidden;
    height: 570px;
    background: url(../images/bannerbg.png) no-repeat center top;
    background-size: cover;   
}
.member-btn{
    display: block;
    background-color: #99c50a;
    width: 254px;
    height: 73px;
    line-height: 73px;
    margin:430px auto 0;

}
.arrows{
    width: 60px;
    height: 20;
    position: absolute;
    right: 140px;
    bottom: 47px; 
}
.arrows img{
    float: left;
    cursor: pointer;
}
.last-arrows{
    margin-right: 34px;
}
.model-1{
    width: 1300px;
    box-sizing: border-box;
}
.icon-1{
    width: 58px;
    margin: 0 auto;
    padding-top: 99px;
}
.title-m1{
    width: 505px;
    font-size: 31px;
    margin: 0 auto;
    padding-top: 50px;
    font-weight: 400;
}
.content1-m1,.content2-m1{
    width: 920px;
    color: #919191;
    font-size: 19px;
    margin: 0 auto;    
}
.content1-m1{
    padding-top: 70px;
    margin-bottom: 56px;
}
/* 模式优点模块 */
.pattern{
    width: 980px;
    margin: 0 auto 60px;
    padding-top: 156px;
}
.pattern-son .circle{
    /* 圆形图标 */
    display: inline-block;
    height: 42px;
    width: 42px;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 30px;
}
.pattern-son{
    padding-bottom: 37px;
    text-align: center;
    font-size: 33px;
    color:#656565;
    border-bottom: 1px solid #5F5F5F;
}
.second-icon,.third-icon{
    padding-left: 110px;
}
.first-icon{
    border-color: #ADD136;
}
.pattern-content{
    width: 998px;
    margin: 0 auto;
}
.pattern-content .pat-img{
    margin: 25px 105px 0 98px;
}
.pattern-content h2{
    font-size: 25px;
    color: #add136;
    font-weight: 400;
    margin-bottom: 34px;
}
.pattern-content p{
    font-size: 17px;
    color: #a6a6a6;
}
/* find模块 */
/* .find{
    margin: 0 auto;
    padding-top: 99px;
}
.find-properties,.find-buyyears{
    width: 650px;
}
.find-properties{
    background-color: #e2f8ff;
}
.find-buyyears{
    background-color: #f5f9ed;
}
.find-content h2{
    font-size: 23px;
    font-weight: 400;
    color: #515151;
    margin-top: 46px;
    margin-bottom: 34px;
}
.find-content p{
    font-size: 17px;
    color:#515151;
    width: 256px;
}
.content-img1{
    margin: 84px 45px 109px 138px;
}
.content-img2{
    margin: 96px 72px 117px 76px;
}*/
.find-btn-blue,.find-btn-green{
    display: inline-block;
    width: 187px;
    height: 51px;
    line-height: 51px;
}
.find-btn-blue{
    background-color: #26A6D1;
}
.find-btn-green{
    background-color: #add136;
} 

.find{
    padding-top: 99px;
}
.find-properties,.find-buyyears{
    width: 50%;
}
.find-properties{
    background-color: #e2f8ff;
}
.find-buyyears{
    background-color: #f5f9ed;
}
.content-properties,.content-buyers{
   width: 650px;
}
.content-properties{
    float: right;
}
.content-buyers{
    float: left;
}
.find-content h2{
    font-size: 23px;
    font-weight: 400;
    color: #515151;
    margin-top: 46px;
    margin-bottom: 34px;
}
.find-content p{
    font-size: 17px;
    color:#515151;
    width: 256px;
    margin-bottom: 30px;
}
.content-img1{
    margin: 84px 45px 109px 138px;
}
.content-img2{
    margin: 96px 72px 117px 76px;
}
/* projects布局 */
.projects{
    width: 980px;
    margin: 0 auto;
    padding-top: 81px;
}
.project-head h2{
    display: inline-block;
    font-size: 29px;
    color: #515151;
    margin-bottom: 26px;
}
.project-head p{
    font-size: 17.2px;
    color: #8F8F8F;
}
.project-head a{
    float: right;
    margin-top: 27px;
}
.project-content{
    padding-top: 66px;
}
.ad-pic1,.ad-pic2{
    margin-right: 38px;
}
.Community-bg{
    background: url(../images/bg-foot.png) no-repeat center top;
    background-size: cover;
    padding-bottom: 60px;
}
.Community{
    width: 950px;
    margin: 0 auto;
    padding-top: 88px;
}
.community-head h2{
    font-size: 39px;
    color: #9EC02D;
    margin-bottom: 42px;
}
.community-head p{
    font-size: 19px;
    color: #949494;
}
.Community-content{
    padding-top: 98px;
}
.p1{
    margin-right: 155px;
}
.person{
    padding-top: 14px;
    margin-left: 48px;
}
.person img{
    float: left;
}
.person span{
    display: inline-block;
    line-height: 60px;
    color: #494949;
    margin-left: 18px;
}
/* 尾部样式 */
.foot .brand{
    width: 1028px;
    margin: 0px auto;
    padding-top: 45px;
    padding-bottom: 41px;
}
.foot-state{
    line-height: 65px;
    font-size: 13px;
    color: #848484;
}



